
*{
    padding: 0;
    margin: 0;box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}
body{
    height: fit-content;
}
header{
    background-image: url('/img/grass.jpg');
    background-position: 70% 80%;
    background-size: cover;
    width: 100vw;
    height: 25vh;
    text-align: center;
    color: white;
}
header .top{
    width: auto;
    height: auto;
    position: relative;
    top: 40px;
}
.top h4{
    padding: 10px;
    color: rgb(255, 255, 255);
    font-weight: bolder;
    text-shadow: 2px 2px 2px rgb(247, 238, 238);
    background-color: rgb(0, 0, 0);
    width: fit-content;
    margin: auto;
    opacity: 0.5;
    font-size: larger;
}

.p1{
    width: 100vw;
    height: 100vh;
    background-image: url('/img/bull.jpg');
    opacity: 0.9;
    background-size: 100% 100%;
    background-position: center;
}

.dropdown{
    width: 100vw;
    /* margin: 10px 0px; */
    display: flex;
    align-items: center;
    justify-content: center;
}
.dropbtn{
    /* position: absolute; */
    width: 0px;
    height: 0px;
    visibility: hidden;
}
.dropdown-content{
    width: 100vw;
    padding: 20px;
    margin: auto;text-align: center;
    background-color: lightblue;
    opacity: 0.8;
    /* border-radius: 10%; */
}
.dropdown-content a{
    text-decoration: none;
    margin: 0px 20px;
    padding: 10px;
    color: rgb(3, 11, 11);
    font-weight: bolder;
}

.dropdown-content a:hover{
    background-color: rgb(28, 44, 49);
    color: whitesmoke;
    border-radius: 5px;
}

section{
    /* margin: auto; */
    width: 700px;
    height: fit-content;
    margin: 5% auto;
    padding: 2%;
    /* border: 1px solid black; */
    background-color: rgb(255, 255, 255);
    opacity: 0.7;
}
.p2{
    width: 100vw;
    height: 100vh;
    background-image: url('/img/gras.jpg');
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.p3{
    width: 100vw;
    height: 100vh;
    background-image: url('/img/grass.jpg');
    background-size: cover;
    background-position: 50% 100%;
    background-repeat: no-repeat;
}
.boxes{
    height: 100vh;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    
}

.profile-box {
    
    opacity: 0.7;
    width: 700px;
    margin: 3% auto;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ccc;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
}

/* Style the heading */
h1 {
    font-size: 24px;
    margin-bottom: 10px;
}

/* Style the image */
img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-bottom: 10px;
}

.profile-box img{
    box-shadow: 0px 0px 10px black;
}
/* Style the text */
p {
    font-size: 14px;
    line-height: 1.5;
}

/* Style the button */
.btn {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
}

/* Style the button hover effect */
.btn:hover {
    background-color: #0069d9;
}

/* ==============  Mobile view     =============== */


@media only screen and (max-width:550px) {
    .p1{
        height: fit-content;
        padding-bottom: 10%;
    }
    header .top {
        padding: 10px 0;
    }
    header .top h2{
        color: white;
        text-shadow: 0px 0px 30px black;
        font-weight: bolder;
    }
    header .top h4{
        color: lightblue;
        padding: 10px;
        text-shadow: 0px 0px 20px yellowgreen;
        font-weight: bold;
    }

    .profile-box{
        margin-bottom: 10px;
        margin: 10px auto;
    }

    /* Dropdown Button */
.dropbtn {
    visibility: visible;
    width: fit-content;
    height: fit-content;
    /* margin: 10px; */
    background-color: #04AA6D;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    width: 100vw;
    padding: 0;
    position: relative;
    display: flex;
    top: -215px;
    align-items:end;
    justify-content: end;
    /* display: inline-block; */

}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    top: 0;
    background-color: #e98282;
    width: fit-content;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    margin: auto;
    opacity:unset;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    width: auto;
    font-size: 15px;font-weight: bolder;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {
    background-color: #512222;
    border-radius: 5px;
    color: white;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}
.p1{
  background-position: 80% 100%;
  background-size: cover;
}
}
