*{
    padding: 0;margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    width: 100vw;
    height: max-content;
    padding: 20px 0px;
    text-align: center;
}

header h1{
    letter-spacing: 0.5px;
    color: green;
    /* text-shadow:3px 3px 5px rgb(197, 15, 15); */
}

main{
    width: 90vw;
    margin: auto;
    height: max-content;
}
section {
    padding: 10px;
    text-align: center;
}

section h2{
    padding: 10px 0px;
}
.art{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}
.art img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}
.art .txt{
    width: 70vw;
    padding: 20px;
    /* display: flex; */
    /* align-items: center; */
    /* margin-left: 10px; */
    /* justify-content: center; */
}
.art .txt b , .box .txt b{
    font-size: 22px;
    text-transform: uppercase;
}
.box{
    width: auto;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.box img{
    width: 250px;
    height: 150px;
    border-radius: 10px;
}

.box .txt{
    width: 70%;
}

.imp{
    margin: 10px 0px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
}
.imp img{
    width: 250px;
    height: 180px;
    border-radius: 10px;
}
.imp .txt{
    width: 70%;
}

@media only screen and (max-width:550px) {
    header h1{
        font-size: 25px;
    }
    section{
        text-align: center;
    }
    .art .txt{
        width: 100%;
    }
    .art img{
        width: 300px;
        height: 250px;
        margin: auto;
    }

    .art , .box , .imp{
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }

    .box .txt , .imp .txt{
        width: 80vw;
        padding: 15px;
    }
}